/*
* @Author: Administrator
* @Date:   2017-09-17 23:10:49
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-19 00:43:47
*/

body{
    font-size: 50px;
    color: red;
    background-color: yellow;
}